{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.html *.vue",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "printWidth": 100
}
